*{
    margin: 0;
    padding: 0;
    font-style: normal;
    font-family: 'Roboto', sans-serif;
}
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
   background: black;
}
::-webkit-scrollbar-thumb{
    background: rgba(255, 255, 255, 0.46);
    border-radius: 1rem;
}
::-webkit-scrollbar-thumb:hover{
    background: rgba(255, 255, 255, 0.814);
}

.banner{
    width: 100%;
    max-width: 100%;
    height: 120%;
    background-image: linear-gradient(90deg, rgba(0,0,0), rgb(21, 1, 33));
}

.content1 h1{
    background: linear-gradient(90deg, rgb(153, 0, 255),rgb(255, 5, 238));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    margin-top: 100px;


    -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;

    font-size: 2.5vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

@-webkit-keyframes glow {
    from {
      text-shadow: 0 0 40px #e600e6;
    }
    to {
      text-shadow: 0 0 25px #a500e6;
    }
  }


.navbar{
    width: 100%;
    height: 1vh;
    background-color: black;
    margin: auto;
    display: flex;
    padding: 35px 0;
    align-items: center;
    justify-content: space-between;
}
.navbar img{
    width: 15vh;
    cursor: pointer;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}
.navbar i{
    color: white;
}
.navbar i:hover{
    color: rgb(144, 0, 255);
    transition: 0.25s;
}
.content1{
    margin: 50px;
    width: 85%;
    height: 50vh;
    background-color: rgba(96, 3, 125, 0);
    
}
.content1 img{
    float: right;
    max-width: 100%;
    height: auto;
    border-radius: 1rem;
    box-shadow: 0 0 50px rgba(0,0,0,0.8);
    margin-left: 10%;
    padding-top: 1vh;
}
.contentimg1{
    width: 20%;
}

.content1 h2{
    color: rgba(255, 255, 255, 0.53);
    font-family: 'Courier New', Courier, monospace;
    font-size: 1vw;
}

.content1 p{
    color: rgb(219, 219, 219);
    font-size: 1.25vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.footer {
    width: 100%;
    height: 15vh;
    background-color: black;
    text-align: center;
}

.footer img{
    width: 15vh;
    padding-top: 1vh;
}
.footer p{
    color: rgb(162, 0, 207);
    padding-top: 10px;
    font-family: 'Courier New', Courier, monospace;
}
.post3 img{
    width: 25vh;
    height: auto;
}
.post3{
    margin-top: 30vh;
}